.footer {
    min-height:200px;
    background-color:#DB4886;
    color:#FFF;
    padding-right:30px;
    padding-left:30px;
    padding-top:30px;
}


.footer a,
.footer a:link,
.footer a:visited,
.footer a:hover {
    display:block;
    color:white;
    text-decoration:none;
    line-height:1.5em;
}
