<div class="frameworkEditor">
    <h1>Create Framework</h1>

    <div>
        <input type="text" placeholder="Framework Name" data-ng-model="vm.name" />
    </div>

    <tabs tabs-name="framework-editor">
        <tab-title>Abstract</tab-title>

        <tab-content>
            <div>
                <textarea ui-tinymce ng-model="vm.abstract"></textarea>
            </div>
        </tab-content>

        <tab-title>Description</tab-title>
        <tab-content>
            <div>
                <textarea ui-tinymce ng-model="vm.description"></textarea>
            </div>
        </tab-content>
    </tabs>

    <div>
        <button data-ng-click="vm.addOrUpdate()">Save</button>
    </div>
</div>