<div class="appHeader">
    <a href="#/" data-ng-class="{ 'selected': vm.currentPath == '/' }">Home</a>
    <a href="#/frameworks" data-ng-class="{ 'selected': vm.currentPath == '/frameworks' }">Frameworks</a>
    <a href="#/languages" data-ng-class="{ 'selected': vm.currentPath == '/languages' }">Languages</a>
    <a href="#/platforms" data-ng-class="{ 'selected': vm.currentPath == '/platforms' }">Platforms</a>
    <a href="#/techniques" data-ng-class="{ 'selected': vm.currentPath == '/techniques' }">Techniques</a>
    <a href="#/tools" data-ng-class="{ 'selected': vm.currentPath == '/tools' }">Tools</a>
</div>