<div class="home">
    <h1>Technology Radar</h1>

    <div class="technologyRadarMatrix">
        <div class="technologyRadarMatrixCell" data-ng-click="vm.$location.path('/frameworks')">
            <h1>Frameworks</h1>
        </div>
        <div class="technologyRadarMatrixCell" data-ng-click="vm.$location.path('/languages')">
            <h1>Languages</h1>
        </div>
        <div class="technologyRadarMatrixCell" data-ng-click="vm.$location.path('/platforms')">
            <h1>Platforms</h1>
        </div>
        <div class="technologyRadarMatrixCell" data-ng-click="vm.$location.path('/techniques')">
            <h1>Techniques</h1>
        </div>
        <div class="technologyRadarMatrixCell" data-ng-click="vm.$location.path('/tools')">
            <h1>Tools</h1>
        </div>
        <div class="clear"></div>
    </div>
</div>