<div class="footer">
    <div data-ng-if="vm.isLoggedIn()">
        <a href="#/framework/list" data-ng-class="{ 'selected': vm.currentPath == '/framework/list' }">Frameworks</a>
        <a href="#/language/list" data-ng-class="{ 'selected': vm.currentPath == '/language/list' }">Languages</a>
        <a href="#/platform/list" data-ng-class="{ 'selected': vm.currentPath == '/platform/list' }">Platforms</a>
        <a href="#/technique/list" data-ng-class="{ 'selected': vm.currentPath == '/technique/list' }">Techniques</a>
        <a href="#/tool/list" data-ng-class="{ 'selected': vm.currentPath == '/tool/list' }">Tools</a>
        <a data-ng-click="vm.logOut()">Log out</a>
    </div>
</div>